@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark_Grey: hsl(0, 0%, 12%);
    --Off_Black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--Off_Black);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 50px auto;
}

.card {
    background-color: var(--Dark_Grey);
    color: var(--White);
    padding: 30px;
    border-radius: 15px;
    width: 85vw;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img img {
    cursor: pointer;
    border-radius: 50%;
    height: 75px;
}

.heading {
    cursor: pointer;
    text-align: center;
}

.place {
    font-size: 14px;
    margin-top: 8px;
    color: var(--Green);
    font-weight: 600;
}

.para {
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.p1 {
    font-size: 14px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 100%;
}

.list li {
    list-style-type: none;
    background-color: var(--Grey);
    padding: 13.5px 15px;
    border-radius: 11px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

.list li:hover {
    background-color: var(--Off_Black);
}


@media screen and (width> 420px) {
    .card {
        width: 380px;
        padding: 30px 40px;
    }
}